.root {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.button {
  width: 100%;
}

.agreement {
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: var(--color-default-grey);
}

.agreementLink {
  color: var(--color-default-dark);
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s;
}

.agreementLink:hover {
  text-decoration-color: currentColor;
}

@media (max-width: 1440px) {
  .root {
    gap: 30px;
  }
}

@media (max-width: 1280px) {
  .root {
    gap: 25px;
  }

  .agreement {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .root {
    gap: 20px;
  }
}
