.root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  font-family: "Nunito", "Arial", sans-serif;
  font-weight: 600;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    border-color 0.3s;
  background-clip: border-box;
}

.root svg {
  width: 30px;
  height: 30px;
}

.small {
  font-size: 20px;
  padding: 20px;
  width: 240px;
  border-radius: 52px;
}

.big {
  font-size: 28px;
  padding: 28px;
  width: 340px;
  border-radius: 52px;
}

.nav {
  aspect-ratio: 1 / 1;
  width: 64px;
  border-radius: 50%;
}

.nav::after {
  content: "";
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 11 / 17;
  width: 11px;
  mask-image: url("/images/angle.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: var(--color-default-dark);
}

.nav:hover {
  border-color: transparent;
}

.accent {
  background-color: var(--color-accent-main);
  color: var(--color-default-light);
  box-shadow: inset 0 0 0 1px var(--color-accent-main);
}

.accent svg {
  color: currentColor;
}

.accent:not(:disabled):hover {
  background-color: var(--color-accent-dark);
}

.light {
  position: relative;
  background-color: var(--color-default-light);
  color: var(--color-default-dark);
  box-shadow: inset 0 0 0 1px var(--color-default-grey);
  z-index: 1;
  overflow: hidden;
}

.light svg {
  color: var(--color-accent-main);
}

.light::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(150deg, var(--linear-gradient-light));
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
  background-clip: border-box;
}

.light:hover {
  box-shadow: none;
}

.light:not(:disabled):hover::before {
  opacity: 1;
}

.gradient {
  position: relative;
  background-color: transparent;
  background-image: linear-gradient(150deg, var(--linear-gradient-light));
  color: var(--color-default-dark);
  box-shadow: none;
  z-index: 1;
  overflow: hidden;
}

.gradient svg {
  color: var(--color-accent-main);
}

.gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(150deg, var(--linear-gradient-dark));
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
  background-clip: border-box;
}

.gradient:not(:disabled):hover::before {
  opacity: 1;
}

.root.disabled,
.root:disabled {
  pointer-events: none;
  background-color: var(--color-extraLight-grey);
  color: var(--color-default-grey);
  box-shadow: none;
}

.root.disabled,
.root:disabled svg {
  color: currentColor;
}

@media (max-width: 1440px) {
  .root svg {
    width: 25px;
    height: 25px;
  }

  .small {
    font-size: 18px;
    padding: 15px;
    width: 180px;
  }

  .big {
    font-size: 26px;
    padding: 24px;
    width: 300px;
  }
}

@media (max-width: 1280px) {
  .root {
    gap: 10px;
  }

  .root svg {
    width: 22px;
    height: 22px;
  }

  .big {
    font-size: 22px;
    padding: 18px;
    width: 240px;
  }

  .small {
    font-size: 16px;
    padding: 12px;
    width: 150px;
  }
}

@media (max-width: 1024px) {
  .big {
    font-size: 18px;
    padding: 15px;
    width: 200px;
  }
}
