.listWrapper {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  font-size: 20px;
  font-weight: 500;
}

.list a {
  flex-shrink: 0;
  text-decoration: none;
  padding: 10px 0;
  color: currentColor;
  transition: color 0.3s;
}

.list a:hover {
  color: var(--color-accent-main);
}

.list a[aria-current="page"] {
  pointer-events: none;
  color: var(--color-accent-main);
}

@media (max-width: 1280px) {
  .list {
    column-gap: 22px;
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .root {
    grid-column: 1;
    grid-row: 1;
  }

  .listWrapper {
    position: fixed;
    top: 87px;
    left: 0;
    right: 0;
    max-height: calc(100vh - 100px);
    transition: height 0.4s;
    overflow: auto;
    height: 0;
    background-color: var(--color-default-light);
    align-items: flex-start;
  }

  .list {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 20px 50px;
    font-size: 22px;
  }

  .list a {
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .listWrapper {
    top: 95px;
    max-height: calc(100vh - 113px);
  }

  .list {
    padding: 20px;
    font-size: 20px;
  }

  .list a {
    padding: 15px 0;
  }
}
