/* @import "tailwindcss"; */

:root {
  --color-default-dark: #37193a;
  --color-default-light: #ffffff;
  --color-default-grey: #c0bac5;

  --color-accent-main: #fd00c5;
  --color-accent-dark: #d200a4;

  --color-light-grey: #f8f4fb;
  --color-medium-grey: #89698d;
  --color-dark-grey: #614864;

  --color-shadow-grey: #d9d9d9;

  --linear-gradient-light: #fbe8ff, #eee7ff 57%, #d1e3ff;
  --linear-gradient-dark: #fae0ff, #dccdff, #c1d9ff;

  --radial-gradient-cold: #bfd8ff, transparent;
  --radial-gradient-warm: #ffa7e1, transparent;

  --fs-big: 36px; /* 36px / 32px / 28px / 24px / 20px / 17px */
  --fs-medium: 30px; /* 30px / 26px / 24px / 22px / 18px / 16px */
  --fs-small: 20px; /* 20px / 18px / 16px / 14px */
}

*,
* ::before,
* ::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
  opacity: 0.6;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

img {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 390px;
  min-height: 100%;
  font-weight: 400;
  font-style: normal;
  color: var(--color-default-dark);
  background-color: var(--color-default-light);
  margin: 0;
  font-family: var(--font-nunito), Arial, sans-serif;
  font-size: var(--fs-medium);
  line-height: 1.4;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.4s;
  pointer-events: none;
  opacity: 0.3;
}

body.overlay {
  overflow: hidden;
}

body.overlay::after {
  background-color: var(--color-default-dark);
  opacity: 0.3;
  pointer-events: all;
}

main {
  flex-grow: 1;
}

@media (max-width: 1600px) {
  :root {
    --fs-big: 32px;
    --fs-medium: 26px;
    --fs-small: 18px;
  }
}

@media (max-width: 1440px) {
  :root {
    --fs-big: 28px;
    --fs-medium: 24px;
    --fs-small: 16px;
  }
}

@media (max-width: 1280px) {
  :root {
    --fs-big: 24px;
    --fs-medium: 22px;
    --fs-small: 14px;
  }
}

@media (max-width: 1024px) {
  :root {
    --fs-big: 20px;
    --fs-medium: 18px;
  }
}

@media (max-width: 576px) {
  :root {
    --fs-big: 17px;
    --fs-medium: 16px;
  }
}
