/* @import "tailwindcss"; */

:root {
  --color-default-dark: #37193a;
  --color-default-light: #ffffff;
  --color-default-grey: #c0bac5;

  --color-accent-main: #fd00c5;
  --color-accent-dark: #d200a4;

  --color-light-grey: #f8f4fb;
  --color-medium-grey: #89698d;
  --color-dark-grey: #614864;

  --gradient-light: #fbe8ff, #eee7ff, #d1e3ff;
  --gradient-dark: #fae0ff, #dccdff, #c1d9ff;
}

*,
* ::before,
* ::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
  opacity: 0.6;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

img {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 390px;
  min-height: 100%;
  font-weight: 400;
  font-style: normal;
  color: var(--color-default-dark);
  background-color: var(--color-default-light);
  margin: 0;
  font-family: var(--font-nunito), Arial, sans-serif;
  font-size: 30px;
  line-height: 1.4;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.4s;
  pointer-events: none;
  opacity: 0.3;
}

body.overlay {
  overflow: hidden;
}

body.overlay::after {
  background-color: var(--color-default-dark);
  opacity: 0.3;
  pointer-events: all;
}

main {
  flex-grow: 1;
}

@media (max-width: 1600px) {
  body {
    font-size: 26px;
  }
}

@media (max-width: 1440px) {
  body {
    font-size: 24px;
  }
}

@media (max-width: 1280px) {
  body {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 16px;
  }
}
