.root {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.input {
  display: none;
}

.input:checked ~ .mark::before {
  content: "";
}

.mark {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  width: 20px;
  border: 1px solid var(--color-default-grey);
  border-radius: 2px;
}

.mark::before {
  content: none;
  aspect-ratio: 9 / 6;
  width: 9px;
  background-color: var(--color-accent-main);
  mask-image: url("/images/check.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
