.root {
  position: relative;
  display: none;
  width: 34px;
  height: 28px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--color-default-dark);
  transition: color 0.3s;
}

.root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  height: 3px;
  transition:
    transform 0.2s,
    top 0.2s 0.2s;
}

.root::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  height: 3px;
  transition:
    transform 0.2s,
    bottom 0.2s 0.2s;
}

.icon {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background-color: currentColor;
  height: 3px;
  transform: translateY(-50%);
  transition: transform 0.2s;
  transition-delay: 0.1s;
}

.root:hover {
  color: var(--color-accent-main);
}

.root.isMenuOpenned::before {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
  transition:
    top 0.2s,
    transform 0.2s 0.2s;
}

.root.isMenuOpenned::after {
  bottom: 50%;
  transform: rotate(-45deg) translateY(50%);
  transition:
    bottom 0.2s,
    transform 0.2s 0.2s;
}

.root.isMenuOpenned .icon {
  transform: translateY(-50%) scale(0);
  transition: transform 0.2s;
  transition-delay: 0.1s;
}

@media (max-width: 1024px) {
  .root {
    display: flex;
  }
}

@media (max-width: 768px) {
  .root {
    width: 30px;
    height: 25px;
  }
}
