.root {
  font-weight: 700;
  text-transform: uppercase;
}

.big {
  font-size: 80px;
  letter-spacing: 3px;
}

.small {
  font-size: 52px;
}

@media (max-width: 1600px) {
  .big {
    font-size: 66px;
  }

  .small {
    font-size: 50px;
  }
}

@media (max-width: 1440px) {
  .big {
    font-size: 58px;
    letter-spacing: 2px;
  }

  .small {
    font-size: 48px;
  }
}

@media (max-width: 1280px) {
  .big {
    font-size: 50px;
  }

  .small {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .big {
    font-size: 38px;
  }

  .small {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .big {
    font-size: 30px;
    letter-spacing: normal;
  }

  .small {
    font-size: 22px;
  }
}
